*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Oswald', sans-serif;
}

h2{
    font-family: 'Sacramento', cursive;
}

h4{
    font-family: 'Amatic SC', cursive;
}

p{
    font-family: 'Noto Sans KR', sans-serif;
}

html,body{
	height: 100%;
}

.container{
	width: 100%;
	max-width: 1000px;
    padding: 0 2%;
	margin:0 auto;
}

.clear{
	clear: both;
}

header{
    width: 100%;
    background-color: #7e98a0;
    padding: 20px 2% 20px 2%;
}

header nav.menu-mobile{
    display: none;
}

header nav.menu-desktop{
    text-align: center;
}

header nav.menu-desktop ul li{
    display: inline-block;
    margin: 0 15px;
}

header nav.menu-desktop ul li a{
    color: white;
    text-decoration: none;
}

.circle{
    width: 10px;
    height: 10px;
    background-color: #ff8888;
    border-radius: 5px;
}

section.principal{
    background-color: #dae9eb;
}

section.principal .container{
    padding: 30px 0;
}

section.principal img{
    max-width: 750px;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

section.produtos-principais{
    background-color: #b5c9cf;
}

section.produtos-principais .container{
    padding: 30px 2%;
    max-width: 800px;
    max-height: 700px;
}

section.produtos-principais .texto-produto1{
    width: 70%;
    float: left;
    padding: 20px 30px;
    text-align: right;
}

section.produtos-principais .texto-produto1 h2{
    font-size: 40px;
}

section.produtos-principais .texto-produto1 h4{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 200;
}

section.produtos-principais .texto-produto1 p{
    font-size: 20px;
    color: #2d505a;
}

section.produtos-principais .img-produto1{
    width: 30%;
    float: right;
}

section.produtos-principais .img-produto1 img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 100% 100%;
    border: 20px solid white;
    position: relative;
    top: -60px;    
}

.img-produto1 .texto-img-produto1{
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate-(90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate-(90deg);
    transform: rotate(-90deg);
    position: relative;
    top: -200px;
    right: -115px;
}

.img-produto1 .texto-img-produto1 .linha{
    width: 40%;
    border-bottom: 1px solid black;
    position: relative;
    top: -15px;
    left: 150px;
}

.img-produto1 .texto-img-produto1 h4{
    font-size: 30px;
    font-weight: 200;
    color: ;
}

section.produtos-principais .texto-produto2{
    width: 70%;
    float: right;
    padding: 20px 30px;
    text-align: left;
}

section.produtos-principais .texto-produto2 h2{
    font-size: 40px;
}

section.produtos-principais .texto-produto2 h4{
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 200;
}

section.produtos-principais .texto-produto2 p{
    font-size: 20px;
    color: #2d505a;
}

section.produtos-principais .img-produto2{
    width: 30%;
    float: left;
}

section.produtos-principais .img-produto2 img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 100% 100%;
    border: 20px solid white;
    position: relative;
    bottom: -20px;    
}

.img-produto2 .texto-img-produto2{
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate-(90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate-(90deg);
    transform: rotate(-90deg);
    position: relative;
    top: -120px;
    left: -115px;
}

.img-produto2 .texto-img-produto2 .linha{
    width: 40%;
    border-bottom: 1px solid black;
    position: relative;
    top: -20px;
    left: 150px;
}

.img-produto2 .texto-img-produto2 h4{
    font-size: 30px;
    font-weight: 200;
    color: ;
}